<div *ngIf="isLoading" class="mask"></div>
<div *ngIf="isLoading" class="spinner"></div>

<app-notifications *ngIf="isNotificationWindow" [notificationMessage]="notificationMessage"></app-notifications>


<div class="all-certificates__wrapper" *ngIf="dataAllArticles && dataAllArticles.length > 0">
    <div class="unit-disks-list__title">
        <h2>The Wall of Fame</h2>
    </div>
    <div class="all-certificates__list">

        <ul class="all-certificates__row" *ngFor="let article of dataAllArticles">

            <li class="certificate-card__header">
                <img class="certificate-card__logo" src="./assets/img/medals/{{ article.medal }}" alt="medal">
                <div class="certificate-card__details">
                    <h3>{{ article.title}}</h3>
                    <div class="certificate-card__description">
                        <span class="certificate-card__note">{{ article.note}} / 20</span> - attribué à Mr.
                        <span class="certificate-card__author">{{ article.username}}</span> le 
                        <span class="certificate-card__date">{{article.creationDate | date: 'mediumDate'}}</span>
                    </div>
                </div>
            </li>

        </ul>

    </div>
</div>