<div class="discord__container">

    <div class="discord__subcontainer">

        <div class="discord__header">
            <p>
                Rejoignez le discord ASMtariSTe
        </p>
    </div>

    <div class="discord__picture">        
        <iframe class="discord__widget" src="https://discord.com/widget?id=965322619308085248&theme=dark"  allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>

    
    
</div>
</div>
