@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/settings.scss';


.navigation-bar__wrapper {
  position: fixed;
  z-index: 90;
  background-color: $white;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 50px;

  .navigation-bar__burger {
    position: relative;

    .navigation-overlay__open {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      width: 40px;
      height: 100%;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  
  .navigation-bar__title {

    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    background-color: $white;

    h1 {
      color: $black;
      font-weight: 600;
      font-size: calc($font-body + 0.2rem);
    }
  }
  .navigation-bar__logo {
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: transparent;


    img {
      width: 24px;
      padding: 0 10px;
    }
  }

}





.navigation-overlay__mask {
  position: fixed;
  display: none;
  background-color: $black-alpha;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  opacity: 0;

  &.visible {
    display: block;
    opacity: 1;
  }

}

.navigation-overlay__wrapper {
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  transform: translate3d(-101%, 0, 0);
  z-index: 101;
  max-width: calc(100% - 40px);
  width: 100%;
  background-color: $white;
  transition: 500ms ease-in-out;

  &.open {
    transform: translateZ(0);
    transition: 500ms ease-in-out;
  }


  .navigation-overlay__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 20px 3px;
    background-color: $white;
    max-width: calc(100% - 40px);


    .navigation-overlay__title {
      color: $black;
      font-weight: 600;
      font-size: calc($font-body + 0.2rem);
    }

    .navigation-overlay__close {
      display: flex;
      align-items: center;
      justify-content: center;

      background-color: transparent;
      border: none;
      width: 40px;
      height: 40px;

      svg {
        width: 20px;
        height: 20px;
      }
    }

  }

  .navigation-overlay__menu-left,
  .navigation-overlay__menu-right {
    display: block;
    padding: 0;
    margin: 0;
    text-align: left;

    li {
      position: relative;
      width: 100%;
      overflow: hidden;
      border-bottom: 1px solid $grey;

      a {
        position: relative;
        display: block;
        padding: 10px 20px 12px;
        max-width: calc(100% - 40px);
        color: $orange;
        text-transform: uppercase;
        font-size: calc($font-body - 0.2rem);
      }
    }
  }
}
