@import '../../../styles/settings.scss';



.unit-disks-list__wrapper {
  position: relative;
  padding: 20px 10px;
  box-sizing: border-box;

  .unit-disks-list__title {
    text-align: left;
    padding: 5px 0;

    h2 {
      
        color: #d25a24;
        text-transform: uppercase;
        box-sizing: border-box;
        font-weight: 600;
        padding: 5px 10px;
        border-radius: 15px;
        background: linear-gradient(45deg, #cdcdcd70, transparent);
        box-shadow: #0000003d 5px 5px 5px 1px;
    
    }
  }
.unit-disks-list__folder {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  justify-content: space-between;
  padding: 20px 10px;
  gap: calc($unit-icon-width - 20px);
  box-sizing: border-box;

  .unit-disks-list__container {
    text-align: left;
    width: calc($unit-icon-width + 10px);
  }
}

}
