@import '../../../styles/settings.scss';
@import '../../../styles/fonts.scss';


.certificate-card__wrapper {
    box-shadow: rgba(0, 0, 0, 0.2392156863) 5px 5px 5px 1px;
    border-radius: 10px;
    background-color: $grass2;
    margin: 20px 0;

    text-align: left;
    display: flex;


    .certificate-card__header {
        display: flex;
        padding: 10px;

        .certificate-card__logo {
            height: 50px;
            width: auto;
        }

        .certificate-card__details {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 0 10px;


            h3 {
                font-family: 'InterRegular';
                font-weight: 600;
                font-size: 0.8rem;
                color: $orange;
            }

            .certificate-card__description {
                display: flex;

                .certificate-card__note {

                    p {
                        width: 100%;
                    }
                }


                p {
                    font-size: 0.8rem;

                    .certificate-card__author,
                    .certificate-card__date {

                        font-style: italic;
                    }
                }
            }
        }
    }

    .certificate-card__main {
        .certificate-card__description {

            font-size: 1.2rem;
            display: none;
            word-wrap: break-word;
        }

        .certificate-card__cover {
            text-align: center;
            background-size: contain;
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            width: 100%;


        }
    }
}



@media screen and (min-width: 750px) {
    .certificate-card__wrapper {
        &:hover {
            background-color: $grass5;
        }

        }
    }
