<div id="{{ certification.id_certificates}}" class="certificate-card__wrapper"
    (click)="selectCertification( certification.id_certificates)">

    <div class="certificate-card__header">
        <img class="certificate-card__logo" src="./assets/img/medals/{{ medalUrl }}" alt="medal">
        <div class="certificate-card__details">
            <h3>{{ certification.title}}</h3>
            <div class="certificate-card__description">

                <p class="certificate-card__note">{{ certification.note}} / 20</p>

            </div>
        </div>
    </div>

</div>