// navigation bar and overlay

$black: #232323;
$black-alpha: #232323cc;
$white: #ffffff;
$orange: #d25a24;
$grey: #e6e6e6;
$grey2: #cccccc;
$grey3 : #4c4b4b;







$grass1: #FBFEFB;
$grass2: #F5FBF5;
$grass3: #E9F6E9;
$grass4: #DAF1DB;
$grass5: #C9E8CA;
$grass6: #B2DDB5;
$grass7: #94CE9A;
$grass8: #65BA74;
$grass9: #46A758;
$grass10: #3E9B4F;
$grass11: #2A7E3B;
$grass12: #203C25;

// $black: #202020;
// $white: #FBFEFB;
$gemtos: #00FF38;
$gemtos2: #0cca35;
// $gemtos3: #94CE9A;;
$gemtos3: #2dda53;
$falcon: rgb(0,128,128);

$tag-red: #FF0000;
$tag-orange: #FF8A00;
$tag-yellow: #EBFF00;
$tag-blue: #0075FF;

