@font-face {
    font-family: 'AntiqueOliveRoman';
    src: url('../assets/fonts/AntiqueOliveStd-Roman.woff2');
}
@font-face {
    font-family: 'AntiqueOliveBold';
    src: url('../assets/fonts/AntiqueOliveStd-Bold.woff2');
}
@font-face {
    font-family: 'AntiqueOliveLight';
    src: url('../assets/fonts/AntiqueOliveStd-Light.woff2');
}
@font-face {
    font-family: 'AntiqueOlive';
    src: url('../assets/fonts/AntiqueOlive.woff2');
}


@font-face {
    font-family: 'InterLight';
    src: url('../assets/fonts/Inter-Light.woff2');
}
@font-face {
    font-family: 'InterRegular';
    src: url('../assets/fonts/Inter-Regular.woff2');
}
@font-face {
    font-family: 'InterBold';
    src: url('../assets/fonts/Inter-Bold.woff2');
}

