@import '../../../styles/settings.scss';
  
  button[type='button'] {
    background: none;

  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .weak {
    color: red;
  }
  
  .medium {
    color: orange;
  }
  
  .strong {
    color: green;
  }
