<div class="facebook__container">

    <div class="facebook__subcontainer">

        <div class="facebook__header">
            <p>
                Rejoignez le groupe Facebook
            </p>
            <p>
                "L' assembleur 68000 sur Atari ST"
            </p>
        </div>

        <div class="facebook__picture">
            <img src="./assets/icons/facebook-pixel-icon.png" alt="Facebook">
        </div>

        <div class="facebook__footer">
            <p class="facebook__link"><a href="https://www.facebook.com/groups/assembleur68000atarist"
                    target="_blank">L' assembleur 68000 sur Atari ST</a></p>
        </div>


    </div>
</div>