@import '../../../styles/settings.scss';


p {

    font-size: 1.1rem;
}

.hidden {
    display: none;
}


.italic {

    font-style: italic;
}

img {
    box-shadow: black 4px 4px 10px 1px;
    border-radius: 4px;
}


.article-window__wrapper {

    background-color: $white;
    position: relative;
    padding: 20px 10px;
    box-sizing: border-box;


    &.hidden {
        display: none;
    }

    .article-window__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;


        .article-window__casetitle {
            padding: 5px 0;
            text-align: left;

            h2 {

                color: #d25a24;
                text-transform: uppercase;
                box-sizing: border-box;
                font-weight: 600;
                padding: 5px 10px;
                border-radius: 15px;
                background: linear-gradient(45deg, rgba(205, 205, 205, 0.4392156863), transparent);
                box-shadow: rgba(0, 0, 0, 0.2392156863) 5px 5px 5px 1px;
            }

        }
    }

    .article-window__bot {

        .article-window__state-bar,
        .article-window__pages {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: auto;
            padding: 5px;
            box-sizing: border-box;

        }
    }


    .article-window__content {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        &.hidden {
            display: none;
        }

        app-timeline {
            padding: 20px;
        }

        .article-window__item {
            width: 100%;
        }

    }

}


///////////////////////////////////////////////////
////////////////// Mobil Style ////////////////////
///////////////////////////////////////////////////

.progress-bar__wrapper {
    display: hidden;
}

.article__wrapper,
.article-questions__wrapper {
    line-height: 3rem;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;


    /////////////////// Le header ///////////////////
    .header__wrapper,
    .header-questions__wrapper {
        display: flex;
        flex-direction: column;

        .header__article-title,
        .header-questions__article-title {
            font-family: 'InterBold';
            line-height: 2rem;
            font-size: 2rem;
            text-align: center;
            transition: 300ms;

            h1 {
                font-size: calc($font-body + 0.2rem);
            }
        }

        .header__article-bloc--wrapper,
        .header-questions__article-bloc--wrapper {


            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            background-color: $grass5;

            .header__article-bloc--left,
            .header-questions__article-bloc--center {
                display: grid;
                grid-auto-columns: 1fr;
                ;

                .header__article-description,
                .header-questions__article-description {
                    font-family: 'InterLight';
                    line-height: 1.3rem;
                    display: flex;
                }

                .header__article-infos p {
                    font-size: .8rem;
                }
            }

            .header__article-bloc--right {
                display: flex;
                flex-direction: column;

                .header__article-cover img {
                    width: 100%;
                    transition: 300ms;
                }
            }
        }
    }

    /////////////////// Le main ///////////////////
    .main__content--wrapper,
    .main-questions__content--wrapper {
        font-family: 'InterLight';
        line-height: 2rem;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        background-color: aliceblue;
        border-radius: 10px;
        padding: 10px;
        box-sizing: border-box;


        .main__article-box--left {
            display: grid;
            grid-auto-columns: 1fr;
            flex-wrap: wrap;
            justify-content: flex-start;
            background-color: aliceblue;
            border-radius: 10px;
            height: fit-content;

            .main__article-subtitle--left {
                font-weight: 600;
                text-decoration: underline;
                margin: 2rem 0;
            }

            .main__article-text--left {
                margin: 1rem 0;
            }

            .main__article-cover--left {
                box-sizing: border-box;

                img {
                    margin: 1rem 0;
                    max-height: 100%;
                    max-width: 100%;
                }
            }

        }

        .main__article-box--center {
            display: grid;
            grid-auto-columns: 1fr;
            flex-wrap: wrap;
            justify-content: flex-start;
            background-color: aliceblue;
            border-radius: 10px;
            height: fit-content;

            .main__article-subtitle--center {
                font-weight: 600;
                text-decoration: underline;
                margin: 2rem 0;
            }

            .main__article-text--center {
                margin: 1rem 0;
            }

            .main__article-cover--center {
                box-sizing: border-box;

                img {
                    margin: 1rem 0;
                    width: 100%;
                    max-width: fit-content;

                }
            }
        }

        .main-questions__article-box--center form ul li{
            margin-top: 1.5rem;
            .main-questions__content-subtitle--center {
                font-weight: 600;

            }
            .main-questions__article-text--center ul li {
                display: flex;
                justify-content: space-between;
                gap: 20px;
                margin-top: 1rem;

                input {
                    width: fit-content;
                }

                label {
                    line-height: 1.3rem;
                }
            }
        }

        .main__article-box--right {
            display: grid;
            grid-auto-columns: 1fr;
            flex-wrap: wrap;
            justify-content: flex-start;
            background-color: aliceblue;
            border-radius: 10px;
            height: fit-content;

            .main__article-subtitle--right {
                font-weight: 600;
                text-decoration: underline;
                margin: 2rem 0;
            }

            .main__article-text--right {
                margin: 1rem 0;

            }

            .main__article-cover--right {

                box-sizing: border-box;


                img {
                    margin: 1rem 0;
                    max-height: 100%;
                    max-width: 100%;
                }
            }

        }
    }
}

///////////////////////////////////////////////////
////////////////// Tablet Style ///////////////////
///////////////////////////////////////////////////
@media screen and (min-width: 550px) {


    p {
        font-size: 1.5rem;
    }

    .article-window__wrapper {


        .article-window__content {
            gap: 20px;
            justify-content: space-around;

            .article-window__item {
                width: auto;
            }
        }
    }

    .article__wrapper,
    .article-questions__wrapper {
        flex-direction: column;


        // Le header
        .header__wrapper,
        .header-questions__wrapper {

            .header__article-title,
            .header-questions__article-title {
                font-size: 3rem;
            }

            .header__article-bloc--wrapper,
            .header-questions__article-bloc--wrapper {
                flex-direction: row;

                .header__article-bloc--left,
                .header-questions__article-bloc--center {
                    flex-direction: column;
                    justify-content: space-between;
                    margin: 1rem 0;

                    .header__article-description,
                    .header-questions__article-description {
                        line-height: 2.3rem;
                    }

                    .header__article-infos p {
                        font-size: 1.2rem;
                    }
                }

                .header__article-bloc--right {
                    width: 50%;

                    .header__article-cover img {
                        max-width: 25vw;
                    }
                }
            }
        }

        // Le main
        .main__content--wrapper {
            flex-direction: row;
            justify-content: space-between;


            .main__article-box--left {
                flex-direction: column;
                // justify-content: center;
                width: 100%;



                .main__article-subtitle--left {
                    margin: 0;
                    text-align: left;


                }

                .main__article-text--left {
                    margin: 2rem 1rem 1rem 0;

                }

                .main__article-cover--left {
                    text-align: center;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    display: flex;

                    &img {
                        margin: 1rem 0;
                        max-height: 100%;
                        min-height: 100%;
                    }
                }
            }

            .main__article-box--center {
                flex-direction: column;
                width: 100%;


                .main__article-subtitle--center {
                    margin: 0;
                    text-align: center;


                }

                .main__article-text--center {
                    margin: 2rem 1rem 1rem 0;

                }

                .main__article-cover--center {
                    text-align: center;

                    &img {
                        margin: 1rem 0;
                        max-width: 45vw;
                        // max-width: 350px;
                    }
                }
            }

            .main__article-box--right {
                flex-direction: column;
                // justify-content: center;
                width: 100%;
                margin-left: 10px;


                .main__article-subtitle--right {
                    margin: 0;
                    text-align: left;
                }

                .main__article-text--right {
                    margin: 2rem 1rem 1rem 0;

                }

                .main__article-cover--right {
                    text-align: center;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    display: flex;

                    &img {
                        margin: 1rem 0;
                        max-height: 100%;
                        min-height: 100%;
                    }
                }
            }
        }
    }


}

///////////////////////////////////////////////////
////////////////// Desktop Style //////////////////
///////////////////////////////////////////////////
@media screen and (min-width: 1000px) {


    .article__wrapper,
    .article-questions__wrapper {

        // Le header
        .header__wrapper,
        .header-questions__wrapper {

            .header__article-bloc--wrapper,
            .header-questions__article-bloc--wrapper {
                flex-direction: row;

                .header__article-bloc--left,
                .header-questions__article-bloc--center {
                    width: 100%;
                }

                .header__article-bloc--right {
                    width: 50%;
                }
            }
        }

        // Le main
        .main__content--wrapper {
            flex-direction: row;
            justify-content: space-between;


            .main__article-box--left {
                flex-direction: column;
                width: 100%;


                .main__article-subtitle--left {
                    margin: 0;
                    text-align: left;
                }

                .main__article-text--left {
                    margin: 2rem 1rem 1rem 0;
                }

                .main__article-cover--left {
                    text-align: center;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    display: flex;

                    &img {
                        margin: 1rem 0;
                        max-height: 100%;
                        min-height: 100%;
                    }
                }
            }

            .main__article-box--center {
                flex-direction: column;
                width: 100%;


                .main__article-subtitle--center {
                    margin: 0;
                    text-align: center;


                }

                .main__article-text--center {
                    margin: 2rem 1rem 1rem 0;

                }

                .main__article-cover--center {
                    text-align: center;

                    &img {
                        margin: 1rem 0;
                        max-width: 45vw;
                        // max-width: 350px;
                    }
                }
            }

            .main__article-box--right {
                flex-direction: column;
                width: 100%;
                margin-left: 10px;
                ;

                .main__article-subtitle--right {
                    margin: 0;
                    text-align: left;
                }

                .main__article-text--right {
                    margin: 2rem 1rem 1rem 0;

                }

                .main__article-cover--right {
                    text-align: center;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    display: flex;

                    &img {
                        margin: 1rem 0;
                        max-height: 100%;
                        min-height: 100%;
                    }
                }
            }
        }
    }

}