@import '../../../styles/settings.scss';



h2 {
    
    font-weight: 600;
    font-size: 1.8rem;

}

p {
    
    font-size: 1.1rem;
}

.hidden {
    display: none;
}


.italic {
    
    font-style: italic;
}

img {
    box-shadow: black 4px 4px 10px 1px;
    border-radius: 4px;
}


.article-window__wrapper {
  
    background-color: $white;


    &.hidden {
        display: none;
    }

    .article-window__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;


        .article-window__caseleft,
        .article-window__caseright {
            display: flex;
            justify-content: center;
            align-items: center;

            border: 2px solid $grey2;
            width: 40px;
            height: auto;
            padding: 2px
        }

        .article-window__caseleft {
            border-right: 1px;

            &::after {
                content: "";
                // background: url('../../../assets/icons/atari-cross-window.png') no-repeat center;
                background-size: auto 1.6rem;
                width: 1.6rem;
                height: 1.6rem;

            }
        }

        .article-window__caseright {
            border-left: 1px;

            &::after {
                content: "";
                // background: url('../../../assets/icons/atari-circle-window.png') no-repeat center;
                background-size: auto 1.6rem;
                width: 1.6rem;
                height: 1.6rem;
            }
        }

        .article-window__casetitle {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            background-image: radial-gradient($grass8 1px, $grass6 2px);
            background-size: 3px 3px;

            
            font-size: 1.8rem;
            border: 2px solid $grass12;

            p {
                padding: 10px 20px;
                background-color: $grass1;
            }

        }
    }
.article-window__bot {

    .article-window__state-bar,
    .article-window__pages {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
        padding: 5px;
        box-sizing: border-box;
        
    }
}


    .article-window__content {

        border: 2px solid $grass12;

        border-top: 1px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       

        justify-content: center;
        padding: 10px;

        &.hidden {
            display: none;
        }

        app-timeline {
            // text-align: center;
            padding: 20px;
        }

.article-window__item {
    width: 100%;
}

    }

}


///////////////////////////////////////////////////
////////////////// Mobil Style ////////////////////
///////////////////////////////////////////////////

.progress-bar__wrapper {
    display: hidden;
}

.article__wrapper,
.article-questions__wrapper  {
    line-height: 3rem;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;


    /////////////////// Le header ///////////////////
    .header__wrapper,
    .header-questions__wrapper {
        display: flex;
        flex-direction: column;

        .header__article-title,
        .header-questions__article-title {
            font-family: 'InterBold';
            line-height: 2rem;
            font-size: 2rem;
            text-align: center;
            transition: 300ms;
        }

        .header__article-bloc--wrapper,
        .header-questions__article-bloc--wrapper {
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            background-color: $grass5;
            padding: 0 20px;

            .header__article-bloc--left,
            .header-questions__article-bloc--center {
                // display: flex;                
                // flex-direction: column;
                display: grid;
                grid-auto-columns: 1fr;
                margin: 1rem 0;

                .header__article-description,
                .header-questions__article-description {
                    line-height: 1.3rem;
                    display: flex;
                }

                .header__article-infos p {
                    font-size: .8rem;
                }
            }

            .header__article-bloc--right {
                display: flex;
                flex-direction: column;
                margin: 1rem 0 1rem 1rem;

                .header__article-cover img {
                    width: 100%;
                    transition: 300ms;
                }
            }
        }
    }

    /////////////////// Le main ///////////////////
    .main__content--wrapper ,
    .main-questions__content--wrapper {
        line-height: 2.5rem;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        background-color: aliceblue;
        border-radius: 10px;
        padding: 10px;


        .main__article-box--left {
            display: grid;
            grid-auto-columns: 1fr;
            flex-wrap: wrap;
            justify-content: flex-start;
            background-color: aliceblue;
            border-radius: 10px;
            padding: 10px;
            height: fit-content;

            .main__article-subtitle--left {
                font-weight: 600;
                text-decoration: underline;
                margin: 2rem 0;
            }

            .main__article-text--left {
                margin: 1rem 0;
            }

            .main__article-cover--left img {
                margin: 1rem 0;
                max-height: 100%;
                max-width: 100%;
            }

        }

        .main__article-box--center {
            display: grid;
            grid-auto-columns: 1fr;
            flex-wrap: wrap;
            justify-content: flex-start;
            background-color: aliceblue;
            border-radius: 10px;
            padding: 10px;
            height: fit-content;

            .main__article-subtitle--center {
                font-weight: 600;
                text-decoration: underline;
                margin: 2rem 0;
            }

            .main__article-text--center {
                margin: 1rem 0;
            }

            .main__article-cover--center img {
                margin: 1rem 0;
                width: 100%;
                max-width: fit-content;

            }

        }

        .main__article-box--right {
            display: grid;
            grid-auto-columns: 1fr;
            flex-wrap: wrap;
            justify-content: flex-start;
            background-color: aliceblue;
            border-radius: 10px;
            padding: 10px;
            height: fit-content;

            .main__article-subtitle--right {
                font-weight: 600;
                text-decoration: underline;
                margin: 2rem 0;
            }

            .main__article-text--right {
                margin: 1rem 0;
            }

            .main__article-cover--right img {
                margin: 1rem 0;
                max-height: 100%;
                max-width: 100%;
            }

        }
    }
}

///////////////////////////////////////////////////
////////////////// Tablet Style ///////////////////
///////////////////////////////////////////////////
@media screen and (min-width: 550px) {


    p {
        font-size: 1.5rem;
    }
    .article-window__wrapper {
        

        .article-window__content {
            gap: 20px;
            justify-content: space-around;

            .article-window__item {
                width:auto;
            }
        }
    }
    .article__wrapper,
    .article-questions__wrapper  {
        flex-direction: column;


        // Le header
        .header__wrapper,
        .header-questions__wrapper {

            .header__article-title,
            .header-questions__article-title {
                font-size: 3rem;
            }
 
            .header__article-bloc--wrapper,
                .header-questions__article-bloc--wrapper {
                flex-direction: row;

                .header__article-bloc--left,
                .header-questions__article-bloc--center {
                    flex-direction: column;
                    justify-content: space-between;
                    margin: 1rem 0;

           .header__article-description,
           .header-questions__article-description {
                line-height: 2.3rem;
            }
                    .header__article-infos p {
                        font-size: 1.2rem;
                    }
                }

                .header__article-bloc--right {
                    width: 50%;

                    .header__article-cover img {
                        max-width: 25vw;
                    }
                }
            }
        }

        // Le main
        .main__content--wrapper {
            flex-direction: row;
            justify-content: space-between;


            .main__article-box--left {
                flex-direction: column;
                // justify-content: center;
                width: 100%;



                .main__article-subtitle--left {
                    margin: 0;
                    text-align: left;


                }

                .main__article-text--left {
                    margin: 2rem 1rem 1rem 0;

                }

                .main__article-cover--left {
                    text-align: center;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    display: flex;

                    &img {
                        margin: 1rem 0;
                        max-height: 100%;
                        min-height: 100%;
                    }
                }
            }

            .main__article-box--center {
                flex-direction: column;
                width: 100%;


                .main__article-subtitle--center {
                    margin: 0;
                    text-align: center;


                }

                .main__article-text--center {
                    margin: 2rem 1rem 1rem 0;

                }

                .main__article-cover--center {
                    text-align: center;

                    &img {
                        margin: 1rem 0;
                        max-width: 45vw;
                        // max-width: 350px;
                    }
                }
            }

            .main__article-box--right {
                flex-direction: column;
                // justify-content: center;
                width: 100%;
                margin-left: 10px;
                

                .main__article-subtitle--right {
                    margin: 0;
                    text-align: left;
                }

                .main__article-text--right {
                    margin: 2rem 1rem 1rem 0;

                }

                .main__article-cover--right {
                    text-align: center;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    display: flex;

                    &img {
                        margin: 1rem 0;
                        max-height: 100%;
                        min-height: 100%;
                    }
                }
            }
        }
    }


}

///////////////////////////////////////////////////
////////////////// Desktop Style //////////////////
///////////////////////////////////////////////////
@media screen and (min-width: 1000px) {


    .article__wrapper ,
    .article-questions__wrapper {
       
        // Le header
        .header__wrapper ,
        .header-questions__wrapper {

            .header__article-bloc--wrapper ,
            .header-questions__article-bloc--wrapper {
                flex-direction: row;

                .header__article-bloc--left ,
                .header-questions__article-bloc--center {
                    width: 100%;
                }

                .header__article-bloc--right {
                    width: 50%;
                }
            }
        }

        // Le main
        .main__content--wrapper {
            flex-direction: row;
            justify-content: space-between;


            .main__article-box--left {
                flex-direction: column;
                width: 100%;
                

                .main__article-subtitle--left {
                    margin: 0;
                    text-align: left;
                }

                .main__article-text--left {
                    margin: 2rem 1rem 1rem 0;
                }

                .main__article-cover--left {
                    text-align: center;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    display: flex;

                    &img {
                        margin: 1rem 0;
                        max-height: 100%;
                        min-height: 100%;
                    }
                }
            }

            .main__article-box--center {
                flex-direction: column;
                width: 100%;


                .main__article-subtitle--center {
                    margin: 0;
                    text-align: center;


                }

                .main__article-text--center {
                    margin: 2rem 1rem 1rem 0;

                }

                .main__article-cover--center {
                    text-align: center;

                    &img {
                        margin: 1rem 0;
                        max-width: 45vw;
                        // max-width: 350px;
                    }
                }
            }

            .main__article-box--right {
                flex-direction: column;
                width: 100%;
                margin-left: 10px;
                ;

                .main__article-subtitle--right {
                    margin: 0;
                    text-align: left;
                }

                .main__article-text--right {
                    margin: 2rem 1rem 1rem 0;

                }

                .main__article-cover--right {
                    text-align: center;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    display: flex;

                    &img {
                        margin: 1rem 0;
                        max-height: 100%;
                        min-height: 100%;
                    }
                }
            }
        }
    }

}

